Screen {
    layout: grid;
    grid-size: 2 2;
    overflow-x: auto;
    overflow-y: auto;
}
MapWidget {
    row-span: 2;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: solid;
}

